.post{
    background-image: url('../../assets/banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 88vh;
    display: flex;
    align-items: center;
    color: white;
    h2{ 
        width: 27vw;
        margin-left: 130px;
        font-size: 40px;
    }
}

.devoDoar{
    height: 80vh;  
    div{     
        height: 15vh;
        display: flex;
        align-items: center;
        h2{
            font-size: 30px;
            color: rgba(0, 86, 149, 1);
            margin-left: 65px;
        }
    }
}

.boxCard{
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    article{
        width: 20%;
        height: 80%;  
        background-color: rgba(1, 87, 148, 0.3);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        border-radius: 20px;
        p{
            // border: solid 2px yellow;
            width: 70%;
            font-size: 20px;
            text-align: center;  
        }
    }
}